<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main">
    {{>headers}}
    <img class="ultra" src="/img/ultrasound.jpg">
    </div>
    {{>footers}}
</body>

</html>

