<!DOCTYPE html>

<html>

<head>
    <title>Error</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main">
    {{>headers}}
    <p>ERROR</p>
    </div>
    {{>footers}}
</body>


</html>

